h1 {
    color: red;
}

p {
    color: blue;
}

/* ID-ra való hívatkozás */ 
#elso-bekezdes {
    text-align: right;
}

/* Osztályra való hivatkozás */
.torzsszoveg {
    margin: 20px 30px;
}

/* Ha elemekt sorolunk fel egymástól ,-vel elválasztva mind a h1, mind a p elemekre érvényesülni fog az útána írt definició */
h1, p {
    background-color: indianred;
}

/*
Egy elemet és egy osztályt össze lehet kapcsolni úgy hogy "összeírjuk"
Magyarul: Csak olyan (<p>) elemekre fog vonatkozni amelyek rendelkeznek ezzel a megadott osztállyal is

Példa:
p.zold {
    color: green;
}

*/